<table class="table">
	<tr>
		<td>
			<%=link_to "新增站點",new_station_path,:class=>"btn btn-default"%>
		</td>
	</tr>
	<tr>
		<td>
			<%=link_to "新增列表",stations_path,:class=>"btn btn-default"%>
		</td>
	</tr>
	<tr>
		<td>
			<%=link_to "新增護士",new_nurse_path,:class=>"btn btn-default"%>
		</td>
	</tr>
	<tr>
		<td>
			<%=link_to "護士列表",nurses_path,:class=>"btn btn-default"%>
		</td>
	</tr>
</table>