<table class="table">
	<tr>
		<%=link_to "新增站點",new_station_path%>
	</tr>
	<tr>
		<%=link_to "新增列表",stations_path%>
	</tr>
	<tr>
		<%=link_to "新增護士",new_nurse_path%>
	</tr>
	<tr>
		<%=link_to "護士列表",nurses_path%>
	</tr>
</table>